# Python
backend/venv/
backend/venv_new/
backend/__pycache__/
backend/**/__pycache__/
backend/**/*.pyc
backend/.env
*.pyc
*.pyo

# Flutter
frontend/build/
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.packages
frontend/pubspec.lock
frontend/devtools_options.yaml

# macOS
.DS_Store
**/.DS_Store

# IDE
.idea/
.vscode/
*.iml

# Logs
*.log
